alabaster
anyio
appdirs
argh
argon2-cffi
arrow
asn1crypto
astroid
astropy
async-generator
atomicwrites
attrs
autopep8
Babel
backcall
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts
black
bleach
bokeh
boto
Bottleneck
brotlipy
cached-property
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
#clyent
colorama
comtypes
#conda
#conda-build
#conda-content-trust
#conda-pack
#conda-package-handling
#conda-repo-cli
#conda-token
#conda-verify
contextlib2
cookiecutter
cryptography
cycler
Cython
#cytoolz
daal4py
dask
debugpy
decorator
defusedxml
diff-match-patch
distributed
docopt
docutils
entrypoints
et-xmlfile
#fastcache
filelock
flake8
Flask
fonttools
fsspec
future
gevent
gitdb
GitPython
glob2
greenlet
h5py
HeapDict
html5lib
idna
imagecodecs
imageio
imagesize
importlib-metadata
inflection
iniconfig
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jdcal
jedi
Jinja2
jinja2-time
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyter-server-mathjax
jupyterlab
jupyterlab-git
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kaggle
keyring
kiwisolver
lazy-object-proxy
libarchive-c
llvmlite
locket
lxml
MarkupSafe
matplotlib
matplotlib-inline
mccabe
#menuinst
mistune
mkl-fft
mkl-random
mkl-service
mock
more-itertools
mpmath
msgpack
multipledispatch
munkres
mypy-extensions
mysql-client
mysql-connector-python
#navigator-updater
nbclassic
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
olefile
openpyxl
packaging
pandas
pandocfilters
paramiko
parso
partd
path
pathlib2
pathspec
patsy
pep8
pexpect
pickleshare
Pillow
pip
pipreqs
pkginfo
plotly
pluggy
ply
poyo
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
py
pycodestyle
#pycosat
pycparser
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pyls-spyder
PyMySQL
PyNaCl
pyOpenSSL
pyparsing
pyreadline
pyrsistent
PySocks
pytest
python-dateutil
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytz
PyWavelets
#pywin32
#pywin32-ctypes
#pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
regex
requests
rope
Rtree
#ruamel-yaml-conda
scikit-image
scikit-learn
#scikit-learn-intelex
scipy
seaborn
Send2Trash
setuptools
simplegeneric
singledispatch
sip
six
smmap
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
statsmodels
sympy
tables
#TBB
tblib
tenacity
terminado
testpath
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss
toml
toolz
tornado
tqdm
traitlets
typed-ast
typing-extensions
ujson
unicodecsv
Unidecode
urllib3
watchdog
wcwidth
webencodings
Werkzeug
wheel
whichcraft
widgetsnbextension
win-inet-pton
win-unicode-console
wincertstore
wrapt
xlrd
XlsxWriter
#xlwings
xlwt
xmltodict
yapf
yarg
zict
zipp
zope.event
zope.interface
